## Data Analysis I

Lastly, we will answer the following questions using pandas methods: 

* What are the most popular colors by season?
* What is the most popular clothing item by season?
* What is the effect of promo-codes on the dollar-amount of purchases?
* When do users leave a review?
* Do states vary in the items they purchase in the Fall?

Utilize the documentation provided in each code-block. When you are done with this section of the project, validate that your output matches the screenshot provided in the `docs/part3.md` file and answer the questions located underneath `Data Analysis II` in your own words.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

In [2]:
# TODO: load `data/processed/shopping_cleaned.csv` as a pandas dataframe

df = pd.read_csv('/Users/eawe.fellow/Downloads/shopping-behavior/data/processed/shopping_cleaned.csv')

In [6]:
# TODO: Create a dataframe pivot table where "Season" is your column, "Color" is your index, and "Location" is your value (this value is arbitrary)
# use the len function as the "aggfunc" parameter.
# Save this pivot table to a new variable
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html

pivot_table = pd.pivot_table(df, values='Location', index='Color', columns='Season', aggfunc=len, fill_value=0)

In [7]:
# TODO: Display this pivot table

print(pivot_table)

Season                Fall  Spring  Summer  Winter
Color
Aubergine               83       2      13     111
Baby blue               16      69      84      21
Black                   84       5       9     124
Brick red               88       7      12     110
Brown                   97       5       3      89
Burnt orange            93       4       5     112
Fuchsia                  3      45      78      18
Lavender                13      55     102       6
Lemon yellow             9      47      98      13
Mauve                   86       5       7      95
Muted mustard yellow    84       8      13      87
Pale peach               9      52      81      15
Periwinkle               9      54      82       8
Ruby Red                90       3       8     107
Terra cotta             91       4      15     101
Turquoise                7      49      74      16
White                   10      63      81      11

In [12]:
# TODO: Select the "Fall" column from this pivot table and display the sort order in descending order
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html

fall_column = pivot_table['Fall']
print(fall_column)

fall_column_sorted = fall_column.sort_values(ascending=False)
print(fall_column_sorted)

Color
Aubergine               83
Baby blue               16
Black                   84
Brick red               88
Brown                   97
Burnt orange            93
Fuchsia                  3
Lavender                13
Lemon yellow             9
Mauve                   86
Muted mustard yellow    84
Pale peach               9
Periwinkle               9
Ruby Red                90
Terra cotta             91
Turquoise                7
White                   10
Name: Fall, dtype: int64
Color
Brown                   97
Burnt orange            93
Terra cotta             91
Ruby Red                90
Brick red               88
Mauve                   86
Black                   84
Muted mustard yellow    84
Aubergine               83
Baby blue               16
Lavender                13
White                   10
Periwinkle               9
Pale peach               9
Lemon yellow             9
Turquoise                7
Fuchsia                  3
Name: Fall, dtype: int64

In [14]:
# TODO: Select the "Winter" column from this pivot table and display the sort order in descending order

Winter_column = pivot_table['Winter']
print(Winter_column)

Winter_column_sorted = Winter_column.sort_values(ascending=False)
print(Winter_column_sorted)

Color
Aubergine               111
Baby blue                21
Black                   124
Brick red               110
Brown                    89
Burnt orange            112
Fuchsia                  18
Lavender                  6
Lemon yellow             13
Mauve                    95
Muted mustard yellow     87
Pale peach               15
Periwinkle                8
Ruby Red                107
Terra cotta             101
Turquoise                16
White                    11
Name: Winter, dtype: int64
Color
Black                   124
Burnt orange            112
Aubergine               111
Brick red               110
Ruby Red                107
Terra cotta             101
Mauve                    95
Brown                    89
Muted mustard yellow     87
Baby blue                21
Fuchsia                  18
Turquoise                16
Pale peach               15
Lemon yellow             13
White                    11
Periwinkle                8
Lavender                  6
Name: Winter, dtype: int64

In [16]:
# TODO: Select the "Spring" column from this pivot table and display the sort order in descending order

Spring_column = pivot_table['Spring']
print(Spring_column)

Spring_column_sorted = Spring_column.sort_values(ascending=False)
print(Spring_column_sorted)

Color
Aubergine                2
Baby blue               69
Black                    5
Brick red                7
Brown                    5
Burnt orange             4
Fuchsia                 45
Lavender                55
Lemon yellow            47
Mauve                    5
Muted mustard yellow     8
Pale peach              52
Periwinkle              54
Ruby Red                 3
Terra cotta              4
Turquoise               49
White                   63
Name: Spring, dtype: int64
Color
Baby blue               69
White                   63
Lavender                55
Periwinkle              54
Pale peach              52
Turquoise               49
Lemon yellow            47
Fuchsia                 45
Muted mustard yellow     8
Brick red                7
Mauve                    5
Brown                    5
Black                    5
Burnt orange             4
Terra cotta              4
Ruby Red                 3
Aubergine                2
Name: Spring, dtype: int64

In [15]:
# TODO: Select the "Summer" column from this pivot table and display the sort order in descending order

Summer_column = pivot_table['Summer']
print(Summer_column)

Summer_column_sorted = Summer_column.sort_values(ascending=False)
print(Summer_column_sorted)

Color
Aubergine                13
Baby blue                84
Black                     9
Brick red                12
Brown                     3
Burnt orange              5
Fuchsia                  78
Lavender                102
Lemon yellow             98
Mauve                     7
Muted mustard yellow     13
Pale peach               81
Periwinkle               82
Ruby Red                  8
Terra cotta              15
Turquoise                74
White                    81
Name: Summer, dtype: int64
Color
Lavender                102
Lemon yellow             98
Baby blue                84
Periwinkle               82
Pale peach               81
White                    81
Fuchsia                  78
Turquoise                74
Terra cotta              15
Muted mustard yellow     13
Aubergine                13
Brick red                12
Black                     9
Ruby Red                  8
Mauve                     7
Burnt orange              5
Brown                     3
Name: Summer, dtype: int64

In [18]:
# TODO: Using the "idmax" method, get the index with the maximum value for each column
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html

df.idxmax()

Age                       566
Gender                     44
Item Purchased             26
Purchase Amount (USD)    2206
Location                   86
Size                        2
Color                      10
Season                      0
Review Rating               0
Shipping Type             674
Promo Code Used          1785
Previous Purchases         39
Payment Method           1523
dtype: int64

In [20]:
# TODO: Create a dataframe pivot table where "Season" is your column, "Item Purchased" is your index, and "Location" is your value (this value is arbitrary)
# use the len function as the "aggfunc" parameter.
# Save this pivot table to a new variable and display it

pivot_table = pd.pivot_table(df, values='Location', index='Item Purchased', columns='Season', aggfunc=len, fill_value=0)
pivot_table

Season          Fall  Spring  Summer  Winter
Item Purchased
Backpack          72       0       0     113
Belt              25       0       0       0
Boots             51       0       0      83
Dress             36      74     118       0
Gloves            68       0       0     112
Handbag           31      78     111       0
Hoodie            58       0       0     105
Jacket            47       0       0      87
Jeans             46       0       0       0
Leggings          58       0       0     118
Pajamas           65       0       0     111
Running Shoes     25      89     134       0
Scarf             56       0       0     101
Shorts            31      76     152       0
Socks             71       0       0     101
Sunglasses        43      80     135       0
Sweater           72       0       0     113
T-shirt           17      80     115       0

In [ ]:
# TODO: Using the "idmax" method, get the index with the maximum value for each column on the pivot table containing clothing items & season
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html

...

In [ ]:
# TODO: Create two data-frames for promo-code users and non-promo-code users using boolean indexing
# Save these two dataframes into seperate variables 
# Documentation: https://pandas.pydata.org/docs/user_guide/indexing.html#boolean-indexing
# Hint: Users that have used a promo code have the value "Yes" in the column "Promo Code Used"

...

In [ ]:
# TODO: Print the shape of the promo code users dataframe. This should be (1373, 13)

...

In [ ]:
# TODO: Print the average purchase size of promo code users dataframe. This should be 50.06747998236351

...

In [ ]:
# TODO: Print the shape of the non promo code users dataframe. This should be (1785, 13)

...

In [ ]:
# TODO: Print the average purchase size of non promo code users dataframe. This should be 30.155750765104113

...

Formulate a null hypothesis regarding the dollar amount spent between promo-code users & non-promo-code users

Answer here

Formulate an alternative hypothesis regarding the dollar amount spent between promo-code users & non-promo-code users

Answer here

In [ ]:
# TODO: Using the "ttest_ind" method from "scipy.stats", run a T-Test between the dollar amount spent of promo-code users and non promo-code users
# The t-statistic you should observe is 93.2464714350831
# Documentation: https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html

...

In [ ]:
# TODO: Group your dataframe according to the "Review Rating" column. This should produce two groups for the values "Missing" & "Present"
# Save this grouped dataframe into a new variable named "g_review"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

...

In [ ]:
# TODO: Print out the keys of this dataframe for validation. This should output "dict_keys(['Missing', 'Present'])"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.keys.html

...

In [ ]:
# TODO: calculate the average of the "Purchase Amount (USD)", "Age", and "Previous Purchases" columns in our grouped dataframe
# output the values for display
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html
# Documentation: https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html

...

In [ ]:
# TODO: Create a new column called "Prev Purchase Group" on your original dataframe which seperates your dataframe into 
# two groups of shoppers based on their "Previous Purchases" column using the "pd.cut" method. 
# Ensure that you are only creating 2 "bins" and label these respective bins as ["Low", "High"]
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.cut.html

...

In [ ]:
# TODO: Using the "value_counts" function, count how many Missing & Present values are in the "Low" group
# Display this value for analysis 
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
# Hint: You will have to use Boolean Indexing

...

In [ ]:
# TODO: Using the "value_counts" function, count how many Missing & Present values are in the "High" group
# Display this value for analysis 
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
# Hint: You will have to use Boolean Indexing

...

## Data Analysis II

In the next section, answer the primary analytical questions in your own words.

### Q1

What are the top three colors for Fall & Winter?

Answer here

### Q2

What are the top three colors for Spring & Summer?

Answer here

### Q3

What is the most popular clothing item by season?

Answer here

### Q4

Observing the p-value that we got when running our t-test between promo-code and non-promo-code users, what can we conclude regarding our null hypothesis?

Answer here

### Q5

Observe the `value_counts` output for the "Review Rating" column for both your "High" and "Low" groups. Proportionally speaking, which group is more likely to leave a review? Why might this be happening from the "human"-perspective? Rationalizations are ok at this point, even if they aren't backed up by data.

Answer here